deepstream/models/
experiments/
backend/uploads/
backend/core
backend/app/core
backend/app/README.md
static/
.gitignore
deepstream/app/core
deepstream/app/debug.log
deepstream/app/libnvinfer_plugin.so.10.3.0.x86_64
deepstream/app/libnvinfer_plugin.so.10.3.0.x86_64.ori.bak
docker_image/deepstream_python_apps/apps/deepstream-demux-multi-in-multi-out/core
core
best.pt
.venv/
# Ignore Python cache files
*.pyc
deepstream/config/*.txt